.checkOutBtn {
    background: var(--primary);
    border: none;
    padding: 2px 9px;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    color: black;
    border-radius: 10px;
}
.smallBtn{
    color: white;
    background: var(--primary);
    border: none;
    padding: 2px 9px;
    font-size: 13px;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
}
.bigButton{
    width: 100%;
    border-radius: 19px;
    padding: 5px 9px;
    color: #fff;
    background: var(--primary);
    border: none;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
}