.checkOutBtn {
    background: var(--primary);
    border: none;
    padding: 2px 9px;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    color: #fff;
    border-radius: 10px;
}
.smallBtn{
    color: white;
    background: var(--primary);
    border: none;
    padding: 7px 16px;
    border-radius: 18px;
    font-size: 13px;
    line-height: 25px;
}
.bigButton{
    width: 100%;
    border-radius: 19px;
    padding: 5px 9px;
    color: #fff;
    background: var(--primary);
    border: none;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
}
.addAddressBtn{
    color: var(--primary);
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 21px;
}