.form-controler{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
}
.inputBox{
    outline: none;
    outline: none;
    padding: 7px 13px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid black;
}
.row{
    display: flex;
    justify-content: space-between;
}
textarea{
    outline: none;
}
.add-blogBtn{
    float: right;
    border: none;
    color: white;
    background: #5e5ee7;
    border-radius: 3px;
    padding: 8px 15px;
}
.card-headding {
    color: #5e5ee7;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
}
.errorMessage{
    color: red;
}