.category-item {
    text-align: center;
    margin-bottom: 20px;
    /* width: 75px; */
    width: 91px;
}

.category-image img {
    width: 100%;
    max-width: 100px;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: contain;
}

.category-name {
    font-size: 17px;
    margin-top: 10px;
    font-weight: 400;
    color: black;
}
.align-center{
    justify-content: center;
    align-items: center;
    display: flex;
}
