/* .quantitybtn-container{
    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: .1rem;

}
.quentitybtn {
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 10px;
    /* padding: 4px 14px; 
    border-radius: 50%;
    background: #f5f3f1;
}
.quentity_count {
    border-left: none;
    border-right: none;
}
.quantity{
    padding: 2px 10px;
} */
.quantity_container{
    display: flex;
}
.quantity_btn{

    cursor: pointer;
    padding: 2px 9px;
    /* background: red; */
    border: 1px solid gray;
}